// Toggle to debug
// debug()

// base
@import "base/mixins"
@import "base/normalize"
@import "base/colors"
@import "base/typography"
@import "base/animations"

// components
@import "components/buttons"
//@import "components/header"

// pages
@import "pages/index"
// Add individual pages here
